<!DOCTYPE html>
<head>
  <title>"<catchy name here>"</title>
</head>
<body style="color:#AAAAAA">
  <div id="header" style="margin:auto; text-align:center">
    <h1>The Website</h1>
    <em>'Tis dope.  Nope?</em>
  </div>
  <hr />
  <div style="float:left; width=15%; border-right:1px solid; margin-right:3px;">
    <h3 style="text-align:center">Navigation</h3>
    <ul>
      <li><a href="#">Here is where links will go.</a></li>
      <li><a href="#">Or not, I just threw this together.</a></li>
      <li><a href="#">I mean, what do I know?</a></li>
      <li><a href="#">I'm not a web designer.</a></li>
    </ul>
  </div>
</body>
</html>
